<html>
<head>
	<title>Главная страница - страница обо мне</title>
</head>
<body>
<center><h1>Информация обо мне</h1></center>
Краткая биография обо мне: Я Синьков Александр Викторович.
Родился в 1977 году в Краснодарском крае. Закончил в 2000 году АГПИ.
На данный момент работаю в МБОУ ДО СШ.
Моя мечта стать ведущим специалистом.

Хотел бы поделиться с Вами красивой фотографией природы
<br/><br/>
<center><img alt="Горы"
src="https://s1.1zoom.ru/big0/932/Slovenia_Mountains_Scenery_Lake_Lake_Jasna_616745_1280x768.jpg">
</center>
<br/><br/>
<font style="color:green">Я люблю природу</font>
<br/><br/>
<b>И очень сильно люблю свою семью</b>

<hr>

<br/><br/>
Спасибо. До новых встреч!
</body>
</html>